

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content1 %}

    {% endblock %}
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    {% block content %}

    {% endblock %}

</body>
</html>

-->duplication code
-->whatever the code we write outside the above special syntax,that code can be 
used by all the HTML files.
-->but inside that special syntax,we have to write the code that belongs only to that 
HTML file
